.icon-size {
  height: 24px;
  width: 24px;
}
.dark-theme {
  color: #345519;
  fill: #212121;
}
.absolute {
  position: absolute;
  margin-left: 92%;
  margin-top: 2vh;
  border: #212121 solid 1.5px;
  border-radius: 100px;
  padding: 0.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.more-styles {
  border: #fffbfb solid 1.5px;
}
.sun {
  fill: #c2fa09d5;
  color: #c9db21;
}
.hidden-moon {
  /* display: none; */
  fill: #e3ebcdd5;
  color: rgb(211, 201, 201);
}
