* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffff0034;
}

.user-profile {
  display: inline-block;
  position: absolute;
  margin-left: 86%;
  margin-top: 2vh;
}
.row {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.side-bar {
  background-color: beige;
}
.company-name p {
  margin-bottom: 1px;
}
.invalid {
  border-color: #fc0000;
  box-shadow: 0 0 0 0.25rem rgb(253 13 18 / 25%);
  color: #212529;
  background-color: #fff;
  outline: 0;
}